<div id="chat-box" class="chat-box initial">
    <div id="message-window" class="chat-msgs">
        <ol class="discussion">
        </ol>
    </div>
    <div id="chat-controls" class="row">
        <div class="col-md-12">
            <div class="input-group">
                <input type="text" class="form-control post-message" placeholder="Enter your message here">
                <span class="input-group-btn">
                    <button class="btn btn-default btn-primary send-button" type="button">Send</button>
                </span>
            </div>
        </div>
    </div>
</div>    