@{
    Layout = "~/Views/Shared/_Barebone.cshtml";
}


@{Html.RenderPartial("_Chatbox");}

@section Scripts{
<script>
    $(function () {
        registerClientFunctions();
        startHub();
    })
    hub = $.connection.chatHub;

    function startHub() {
        $.connection.hub.start()
        .done(function () {
            hub.server.connectAgent();
        })
        .fail(function () {
            alert("Unable to connect. Please reload the page.")
        })
    }

    function registerClientFunctions() {
        hub.client.addMessage = function (from, message) {
            var conversationHtml = '<li class="other"> <div class="name"> <p>' +
                from + '</p> </div> <div class="messages"> <p>' +
                message + '</p> <time datetime="2009-11-13T20:00">51 min</time> </div> </li>';

            $(".discussion").append(conversationHtml);
        }
    }
</script>
}