@{
    Layout = "~/Views/Shared/_Barebone.cshtml";
}


<div class="col-md-3">
    <div class="well sidebar-nav">
        <h3>Chat Sessions</h3>
        <div id="chat-sessions">
        </div>
    </div>
    <!--/.well -->
</div>
<div class="col-md-9 chat-container">
    @{Html.RenderPartial("_Chatbox");}
</div>

@section Scripts{
<script src="~/Scripts/Support/chatbox.js" type="text/javascript"></script>
<script src="~/Scripts/Support/agent.js" type="text/javascript"></script>
}